@import url('https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css');
@import "tailwindcss";

/* Menu separator style */
.menu-separator {
    border: none;
    background: linear-gradient(
      90deg,
      currentColor 4px,
      transparent 4px
    )
    50% 50% / 8px 1px repeat no-repeat;
    color: rgba(204, 204, 204, 1);
    height: 0.25rem;
    margin: 0.5rem 0;
  }
  
